table.display
{
 margin:0px;
 padding:0px;
 width:100%;
 top:-8px;
 left:-1px;
 position: relative;
}

table.display-noslides
{
 margin:0px;
 padding:0px;
 border:1px solid #222222;
}

td.displaycell
{
 padding:0px;
 margin:0px;
}

div#message
{
 padding:1px;
 margin:1px;
}

div#slidemenu
{
 padding:0px;
 margin-top:0px;
 margin-bottom:0px;
 margin-left:1px;
 margin-right:1px;
}

div#videoplayer
{
 margin:0px;
 text-align:center;
}

div#positioncontrol
{
 margin-top:8px;
 margin-left:0px;
 margin-right:0px;
 margin-bottom:8px;
}

div#videocontrols
{
 margin-top:8px;
 margin-left:0px;
 margin-right:0px;
 margin-bottom:8px;
}

div#subtitlecontrols
{
 margin-top:8px;
 margin-left:0px;
 margin-right:0px;
 margin-bottom:8px;
}

div#language
{
 margin-top:8px;
 margin-left:0px;
 margin-right:0px;
 margin-bottom:0px;
}

div#slides
{
}

div#slidecontrols
{

}

div#subtitles
{
 margin:2px;
 text-align:center;
}

div#exitlink
{
 padding:1px;
 margin:1px;
}